@using ZOGLAB.MMMS.SD
<div>
    <form name="exampleForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.menuTreeUnit.id">@L("Edit"): {{vm.menuTreeUnit.displayName}}</span>
                <span ng-if="!vm.menuTreeUnit.id">新的菜单项</span>
            </h4>
        </div>
        <div class="modal-body ">
            @*TODO: 2018/12/11 18:05*@
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <div class="input-icon">
                                <input auto-focus class="form-control" type="text" name="DisplayName"
                                       ng-class="{'edited':vm.menuTreeUnit.displayName}"
                                       ng-model="vm.menuTreeUnit.displayName"
                                       maxlength="@SD_MenuTreeUnit.MaxDisplayNameLength"
                                       ng-required="true">
                                <label for="DisplayName">菜单名称</label>
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label">
                            <div class="input-icon">
                                <input class="form-control" type="text" name="URL"
                                       ng-class="{'edited':vm.menuTreeUnit.url}"
                                       ng-model="vm.menuTreeUnit.url"
                                       ng-required="true">
                                <label for="URL">菜单URL</label>
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <div class="input-icon">
                                <input auto-focus class="form-control" type="text" name="Icon"
                                       ng-class="{'edited':vm.menuTreeUnit.icon}"
                                       ng-model="vm.menuTreeUnit.icon"
                                       ng-required="true">
                                <label for="Icon">菜单图标</label>
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label">
                            <div class="input-icon">
                                <input class="form-control" type="text" name="Code"
                                       ng-class="{'edited':vm.menuTreeUnit.code}"
                                       ng-model="vm.menuTreeUnit.code"
                                       maxlength="@SD_MenuTreeUnit.MaxCodeLength"
                                       ng-required="true">
                                <label for="Code">Code</label>
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="正在保存数据..." class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="exampleForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>