<div>
    <form name="strandardCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.standard.id">编辑标准器 {{vm.standard.StrName}}</span>
                <span ng-if="!vm.standard.id">新增标准器</span>
            </h4>
        </div>
        <div class="modal-body">
            <uib-tabset class="tab-container tabbable-line">
                <uib-tab heading="基本信息">

                    <div class="row">
                        <div class="col-sm-4 text-center">
                            <img ng-if="vm.profilePictureId" ng-src="@Url.Action("GetProfilePictureById", "Profile")?id={{vm.profilePictureId}}" width="128" height="128" class="img-thumbnail img-rounded standard-edit-dialog-profile-image" />
                            <img ng-if="!vm.profilePictureId" src="@Url.Content("~/Common/Images/default-profile-picture.png")" width="128" height="128" class="img-thumbnail img-rounded standard-edit-dialog-profile-image" />
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" type="text" name="factoryNum" ng-class="{'edited':vm.standard.factoryNum}" ng-model="vm.standard.factoryNum" required>
                                <label>出厂编号</label>
                            </div>

                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input type="text" name="strName" class="form-control" ng-class="{'edited':vm.standard.strName}" ng-model="vm.standard.strName" required>
                                <label>标准器名称</label>
                            </div>

                        </div>
                    </div>

                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input type="text" name="strSpec" class="form-control" ng-class="{'edited':vm.standard.strSpec}" ng-model="vm.standard.strSpec">
                        <label>标准器型号</label>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input type="text" name="testRange" class="form-control" ng-class="{'edited':vm.standard.testRange}" ng-model="vm.standard.testRange">
                        <label>测量范围</label>
                    </div>

                </uib-tab>
                <uib-tab heading="厂家信息">
                    <uib-tab-heading>
                        <b class="badge badge-primary"></b>
                    </uib-tab-heading>
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input type="text" name="manufactor" class="form-control" ng-class="{'edited':vm.standard.manufactor}" ng-model="vm.standard.manufactor">
                        <label>制造商</label>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input type="text" name="manufactorTel" class="form-control" ng-class="{'edited':vm.standard.manufactorTel}" ng-model="vm.standard.manufactorTel">
                        <label>厂家电话</label>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input type="text" name="caliFactory" class="form-control" ng-class="{'edited':vm.standard.caliFactory}" ng-model="vm.standard.caliFactory">
                        <label>检定单位</label>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input type="text" name="caliFactoryMan" class="form-control" ng-class="{'edited':vm.standard.caliFactoryMan}" ng-model="vm.standard.caliFactoryMan">
                        <label>检定单位联系人</label>
                    </div>
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input type="text" name="caliFactoryTel" class="form-control" ng-class="{'edited':vm.standard.caliFactoryTel}" ng-model="vm.standard.caliFactoryTel">
                        <label>检定单位电话</label>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="strandardCreateOrEditForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>