<div>
    <form name="strandardCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.standard.id">编辑标准器: {{vm.standard.StrName}}</span>
                <span ng-if="!vm.standard.id">新增标准器</span>
            </h4>
        </div>
        <div class="modal-body">
            <uib-tabset class="tab-container tabbable-line">
                <uib-tab heading="基本信息">

                    <div class="row">
                        <div class="col-sm-4 text-center">
                            <img ng-if="vm.profilePictureId" ng-src="@Url.Action("GetProfilePictureById", "Profile")?id={{vm.profilePictureId}}" width="128" height="128" class="img-thumbnail img-rounded standard-edit-dialog-profile-image" />
                            <img ng-if="!vm.profilePictureId" src="@Url.Content("~/Common/Images/default-profile-picture.png")" width="128" height="128" class="img-thumbnail img-rounded standard-edit-dialog-profile-image" />
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input class="form-control" type="text" name="Name" ng-class="{'edited':vm.standard.name}" ng-model="vm.standard.name" required maxlength="@ZOGLAB.MMMS.Authorization.Users.standard.MaxNameLength">
                                <label>@L("Name")</label>
                            </div>

                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input type="text" name="Surname" class="form-control" ng-class="{'edited':vm.standard.surname}" ng-model="vm.standard.surname" required maxlength="@ZOGLAB.MMMS.Authorization.Users.standard.MaxSurnameLength">
                                <label>@L("Surname")</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input type="email" name="EmailAddress" class="form-control" ng-class="{'edited':vm.standard.emailAddress}" ng-model="vm.standard.emailAddress" required maxlength="@AbpUserBase.MaxEmailAddressLength">
                        <label>@L("EmailAddress")</label>
                    </div>

                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input type="text" name="PhoneNumber" class="form-control" ng-class="{'edited':vm.standard.phoneNumber}" ng-model="vm.standard.phoneNumber">
                        <label>@L("PhoneNumber")</label>
                    </div>

                    <div class="form-group form-md-line-input form-md-floating-label">
                        <input type="text" ng-disabled="!vm.canChangeUserName" ng-class="{'edited':vm.standard.userName}" name="UserName" class="form-control input-ltr" ng-model="vm.standard.userName">
                        <label>@L("UserName")</label>
                        <span class="help-block" ng-show="!vm.canChangeUserName">@L("CanNotChangeAdminUserName")</span>
                    </div>
                </uib-tab>
                <uib-tab heading="厂家信息">
                    <uib-tab-heading>
                        <b class="badge badge-primary"></b>
                    </uib-tab-heading>

                </uib-tab>
            </uib-tabset>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="strandardCreateOrEditForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>